USE [Task]
GO
/****** Object:  View [dbo].[UnpaidBlogs]    Script Date: 24.04.2019 12:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UnpaidBlogs]  
AS  
	SELECT Blogs.Id, Blogs.Name AS 'Blog Name', Users.Id AS 'UserId', Users.Name AS 'User Name', 
	(SELECT COUNT(*) FROM Articles WHERE IsBlocked = 1 AND Articles.BlogId = Blogs.Id) AS 'Blocked Articles Count', 
	(SELECT COUNT(*) FROM Articles WHERE IsBlocked = 0 AND Articles.BlogId = Blogs.Id) AS 'Opened Articles Count', 
	COUNT(Articles.Id) AS 'Total Articles Count', AVG(CASE WHEN Articles.Rating > 0 THEN Articles.Rating ELSE NULL END) AS 'Blog Rating' FROM Blogs 
	INNER JOIN Users ON Blogs.UserId = Users.Id
	LEFT JOIN Articles ON Articles.BlogId = Blogs.Id
	WHERE IsPaid = 0
	GROUP BY Blogs.Id, Users.Id, Blogs.Name, Users.Name; 
GO
